/* HEADER */

header {
    background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url(images/bubulles3.jpg);
    background-size: cover;
    background-position: center;
}

header img {
    width: 300px;
    margin-top: 80px;
    border-radius: 20px;
}

header h1 {
    color: gainsboro;
    font-size: 3em;
    margin-top: 20px;
}

header button {
    margin-top: 20px;
    margin-bottom: 80px;
}


/* PRESENTATION */

#presentation {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e9ecef;
}

.bloc {
    margin-bottom: 20px;
    margin-top: 50px;
}

.bloc h2 {
    margin-bottom: 20px;
}


/* COMPETENCES */

#competences {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

#competences h2 {
    text-align: center;
    margin-bottom: 40px;
}

.progress {
    margin-bottom: 20px;
}

